
@media (min-width: 1024px) and (max-width: 1920px){
    .date{
        font-size: clamp(5rem, 0.4286rem + 7.1429vw, 9rem);
    }
    .portaltxt{
        font-size: clamp(5rem, 1.5714rem + 5.3571vw, 8rem);
    }
    .transform{
        font-size: clamp(5rem, 0.4286rem + 7.1429vw, 9rem);
    }
    .opendoor{
        font-size: clamp(5rem, 2.7143rem + 3.5714vw, 7rem);
    }
    .letter{
        font-size: clamp(5rem, 0.4286rem + 7.1429vw, 9rem);
    }
    .word{
        font-size: clamp(5rem, 0.4286rem + 7.1429vw, 9rem);
    }
}
@media (min-width: 1024px) and (max-width: 1919px){
    .date{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    @keyframes move-right {
        0% {
          transform: translateY(0%);
        }
        50% {
          transform: translateY(100%);
        }
        100% {
          transform: translateY(0%);
        }
      }
.portaltxt{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
@keyframes move-rightportal {
    100% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(67%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  .opendoor{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

  }
  @keyframes move-down {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0%);
    }
}
}

@media (min-width: 360px) and (max-width: 768px){
    .date{
        font-size: clamp(3rem, 1.2353rem + 7.8431vw, 5rem);
}
}