body{
  cursor: url(../img/cursor.png), default;
}


html 
*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  overflow-x: hidden;
  height: 10px;
  width: 2vh;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border: white 2px solid;
}

.grid-container {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr); 
  width: 100%;
  height: 100vh;
    background: linear-gradient( #6FDC1F , #659CFD , #FFBEF4 , #D323CD , #8F3DDF , #2722DE,  #6FDC1F ); 
    background-position: 0 0;
    background-size: 400px;
    animation: gradientmove infinite alternate 2s;
  }

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


.grid-item {
  box-sizing: border-box; 
  border: 1px solid white; 

}

.mainscreen {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.transform {
  background-color: rgb(0, 0, 0);
  color: white;
 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: move-left 2s linear infinite;
  transition: all 1s;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  outline: 1px solid white;
  padding-bottom: 1px;
}

@keyframes move-left {
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}


.MU {
  background-color: rgb(0, 0, 0);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  border-left: 1px solid white;
  border-top: 2px solid white ;
  border-bottom: 1px solid white ;
  border-right: 1px solid white;
  outline: 1px white solid;
}


.logo{
  width: 90%;
}

@keyframes move-down {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
.date {
  background-color: rgb(0, 0, 0);
  color: white;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  animation: move-right 2s linear infinite;
  transition: all 1s;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-top: 1px white solid;
  outline: 1px white solid;
  letter-spacing: -4%;
  
}

@keyframes move-right {
  0% {
    transform: translateX(0%); transform: translateY(0%);
  }
  25% {
    transform: translateX(-100%); transform: translateY(0%);
  }
  50% {
    transform: translateX(-100%); transform: translateY(-100%);
  }
  75% {
    transform: translateX(-100%); transform: translateY(0%);
  }
  100% {
    transform: translateX(0%);  transform: translateY(0%);
  }
}

.portaltxt{
  background-color: rgb(0, 0, 0);
  color: white;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  letter-spacing: -10%;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: move-rightportal 3s linear infinite;
  transition: all 1s;
  outline: solid;
  outline-color: white;
  outline-width: 1px;
  border: 1px white solid;
  margin-left: 2px;
}

@keyframes move-rightportal {
  100% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.opendoor{
  background-color: rgb(0, 0, 0);
  font-size: 2vw;
  color: white;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  animation: move-down 2s linear infinite;
  transition: all 1s;
  border-right: 2px white solid;
  border: 1px white solid;
  outline: solid;
  outline-color: white;
  outline-width: 1px;
  letter-spacing: -10%;
  line-height: 100%;
}

.date:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}
.opendoor:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}
.portaltxt:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}
.transform:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0)
}

.portals {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border: white 1px solid;
  padding-bottom: 1%;
}
.row {
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.word {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  letter-spacing: -2%;
}

.portal {
  background: radial-gradient( #FDEE56, #FEC699 , #FF99E5,  #FF3232 , #FF3232 ) ;
  animation: portalScale linear infinite 8s;
  animation-delay: var(--delay);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

@keyframes portalScale {

  0% {
    width: 0%; background: radial-gradient( #A5E5FA, #A5E5FA ,  #CBFFCE , #FD23D5, #FD23D5 ) ;
  }
  20% {
    width: 10%; background: radial-gradient( #FDEE56, #FEC699 , #FF99E5,  #FF3232 , #FF3232 ) ;
  }
  33% {
    width: 20%;  background: radial-gradient( #1C5709, #1C5709 , #F89927,  #FCD33F , #F489DA ) ;
  }
  50% {
    width: 50%;  background: radial-gradient( #A5E5FA, #A5E5FA ,  #CBFFCE , #FD23D5, #FD23D5 ) ;
  }
  67% {
    width: 20%;  background: radial-gradient( #0E0E0E,  #0E0E0E, #FE6EE3 , #FFBEF4,  #B9F3E3  ) ;
  }
  80% {
    width: 10%; background: radial-gradient( #FFFFFF,  #83D3E5, #E683A1 , #9C1744  ) ;
  }
  100% {
    width: 0%; background: radial-gradient( #A5E5FA, #A5E5FA ,  #CBFFCE , #FD23D5, #FD23D5 ) ;
  }
}

.lastSection {
  background: linear-gradient( #6FDC1F , #659CFD , #FFBEF4 , #D323CD , #8F3DDF , #2722DE,  #6FDC1F ); 
  background-position: 0 0;
  background-size: 400px;
  animation: gradientmove infinite alternate 2s;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
}

@keyframes gradientmove {
  100% {
    background-position: 0 400px;
  }
}


.column1 {
  height: 100vh;
  width: 9vw;
  background: linear-gradient( #FDEF54, #FF94EF, #FDEF54 );
  background-position: 0 0;
  background-size: 400px;
  display: flex;
  justify-content: center;
  animation: columnStretch ease-in-out infinite 5s;
  border: white 1px solid;
  border-left: white 2px solid;
}
.letter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  animation: goUpAndDown ease-in-out infinite 5s;
  animation-delay: calc(var(--delay) * 2s);
  width: 100vw;
}

.column2 {
  height: 100vh;
  width: 9vw;
  display: flex;
  justify-content: center;
  animation: columnStretch ease-in-out infinite 5s;
  background: linear-gradient( #2E7387 , #212121, #2E7387 );
  border: white 1px solid;
  background-position: 0 0;
  background-size: 400px;
}

.column3 {
  height: 100vh;
  width: 9vw;
  display: flex;
  justify-content: center;
  animation: columnStretch ease-in-out infinite 5s;
  background: linear-gradient( #35AE1B, #FC9827 , #FCD640,  #35AE1B );
  border: white 1px solid;
  background-position: 0 0;
  background-size: 400px;
}

.column4 {
  height: 100vh;
  width: 9vw;
  display: flex;
  animation: columnStretch ease-in-out infinite 5s;
  background: linear-gradient( #FFFFFF , #4785BB  , #ED839F , #FFFFFF );
  border: white 1px solid;
  background-position: 0 0;
  background-size: 400px;
}

.column5 {
  height: 100vh;
  width: 9vw;
  display: flex;
  justify-content: center;
  animation: columnStretch ease-in-out infinite 5s;
  background: linear-gradient( #000000, #2E9A25 , #000000);
  border: white 1px solid;
  border-right: white 2px solid;
  background-position: 0 0;
  background-size: 400px;
}

@keyframes columnStretch {
  50% {
    width: 19vw;
    background-position: 0 400px;
  }
  100% {
    width: 9vw;
    background-position: 0 0px;
  }
}

@keyframes goUpAndDown {
  0% {
    height: 50%;
  }
  25% {
    height: 100%;
  }
  50% {
    height: 15%;
  }
  100% {
    height: 50%;
  }
}

.nameandgroup{
  height: 50vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 2px solid;
}

.imgname {
  height: 90%;
  width: 90%;
}